In [1]:
import pandas as pd
import sqlite3
import os.path
from pandas import Series, DataFrame

In [2]:
horoscopes_df = pd.read_csv('horoscopes_SA.csv', 
                         sep=';',
                         on_bad_lines='skip',
                         names=["ID", "ROBERTA", "DATE", "SIGN", "VADERS"])
stocks_df = pd.read_csv('historical_stock_prices.csv', 
                         sep=',',
                         on_bad_lines='skip',
                         names=["TICKER", "OPEN", "CLOSE", "ADJ_CLOSE", "LOW", "HIGH", "VOLUME", "DATE"])

C:\Users\m1273747\AppData\Local\Temp\ipykernel_5128\2397405979.py:5: DtypeWarning: Columns (1,2,3,4,5,6) have mixed types. Specify dtype option on import or set low_memory=False.
  stocks_df = pd.read_csv('historical_stock_prices.csv',

In [5]:
BASE_DIR = os.path.dirname(os.path.abspath('horostocks.db'))
db_path = os.path.join(BASE_DIR, 'horostocks.db')
cnn = sqlite3.connect(db_path)

In [7]:
horoscopes_df.to_sql('horoscopes', cnn, if_exists='replace')

12947

In [8]:
stocks_df.to_sql('stocks', cnn, if_exists='replace')

20973890

In [9]:
cnn.close()

In [10]:
%load_ext sql

In [11]:
%sql sqlite:///horostocks.db

In [12]:
%%sql

CREATE TABLE ticker AS
SELECT 
    TICKER,
    MIN(DATE) AS BIRTHDATE
FROM 
    stocks
GROUP BY 
    TICKER;

 * sqlite:///horostocks.db
Done.

[]

In [16]:
SELECT * FROM ticker LIMIT 10;

SyntaxError: invalid syntax (1950709378.py, line 1)

In [13]:
%%sql

ALTER TABLE reviews ADD COLUMN BOOK_INDEX INTEGER;

UPDATE reviews 
SET book_index = (
    SELECT "index" FROM books WHERE books.NAME = reviews.BOOK_NAME
);

ALTER TABLE reviews DROP COLUMN BOOK_NAME;

 * sqlite:///goodreads.db
Done.
155247 rows affected.

[]

In [20]:
%%sql
SELECT * FROM ticker LIMIT 5;

 * sqlite:///horostocks.db
Done.

[('A', '1999-11-18'),
 ('AA', '1970-01-02'),
 ('AABA', '1996-04-12'),
 ('AAC', '2018-01-16'),
 ('AAL', '2005-09-27')]

In [17]:
%%sql

SELECT name FROM sqlite_schema 
WHERE type IN ('table','view') 
AND name NOT LIKE 'sqlite_%'
ORDER BY 1;

 * sqlite:///horostocks.db
Done.

[('horoscopes',), ('stocks',), ('ticker',)]