In [18]:
import re
import requests
import pandas as pd
from bs4 import BeautifulSoup, SoupStrainer
import urllib
import os
from argparse import Namespace
from urllib.request import urlopen
import time
import matplotlib.pyplot as plt
import seaborn as sns

plt.style.use('ggplot')

import nltk
import torch
from nltk.tokenize import sent_tokenize,word_tokenize
nltk.download("punkt")

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\m1273747\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [19]:
df = pd.read_csv('horoscopes.csv', 
                         sep='|', 
                         on_bad_lines='skip',
                         names=["ID", "COMMENT", "DATE", "SIGN"])
df = df.dropna(subset=['COMMENT'])
df = df.reset_index()
df = df.drop(columns=['ID', 'index'])
df.index.name = 'ID'
df = df.head(50)
print(df.shape)
print(df.head(3))

(50, 3)
                                              COMMENT        DATE   SIGN
ID
0   You’re not the sort to play safe and even if y...  12-01-2013  aries
1   There is no such thing as something for nothin...  12-02-2013  aries
2   As the new moon falls in one of the more adven...  12-03-2013  aries

In [20]:
from transformers import AutoTokenizer
from transformers import AutoModelForSequenceClassification
from scipy.special import softmax

In [21]:
from nltk.sentiment import SentimentIntensityAnalyzer
from tqdm.notebook import tqdm

sia = SentimentIntensityAnalyzer()

In [22]:
MODEL = f"cardiffnlp/twitter-roberta-base-sentiment"
tokenizer = AutoTokenizer.from_pretrained(MODEL)
model = AutoModelForSequenceClassification.from_pretrained(MODEL)

In [23]:
def polarity_scores_roberta(text):  
    encoded_text = tokenizer(text,return_tensors='pt')
    output = model(**encoded_text)
    scores = output[0][0].detach().numpy()
    scores = softmax(scores)
    scores_dict = {
        'roberta' : (scores[0]*-1+scores[2])/(scores[0]+scores[1]+scores[2])
    }
    return scores_dict

In [24]:
res_vaders = {} #dictionary
res_roberta = {} #dictionary

for i in df.index:
    comment = df['COMMENT'][i]
    myid = i
    res_vaders[myid] = sia.polarity_scores(comment)
    res_roberta[myid] = polarity_scores_roberta(comment)

In [25]:
vaders = pd.DataFrame(res_vaders).T
vaders.index.name = 'ID'
vaders = vaders.drop(columns=['neg', 'neu', 'pos'])
vaders.rename(columns = {'compound':'vaders'}, inplace = True)
vaders = pd.merge(vaders, df, how ='inner', on= ['ID'], validate='one_to_one')
#vaders = vaders.drop(columns=['COMMENT'])
vaders

    vaders                                            COMMENT        DATE  \
ID
0   0.7102  You’re not the sort to play safe and even if y...  12-01-2013
1   0.3400  There is no such thing as something for nothin...  12-02-2013
2   0.4939  As the new moon falls in one of the more adven...  12-03-2013
3   0.9581  You will hear something amazing today but can ...  12-04-2013
4   0.8268  A friend or colleague you have not seen for a ...  12-05-2013
5   0.1154  You may be a nice guy by nature but most likel...  12-06-2013
6  -0.2500  Someone will give you a tough time this weeken...  12-07-2013
7   0.3071  You will be restless this coming week, without...  12-08-2013
8   0.9153  You may be open and honest by nature but is le...  12-09-2013
9  -0.4767  You must avoid wishful thinking today. Cosmic ...  12-10-2013
10  0.8225  If you have not made as much progress as you w...  12-11-2013
11  0.3269  You may think you have to tear everything down...  12-12-2013
12  0.7003  A decision you made a long time ago now doesn’...  12-13-2013
13  0.0000  If someone you have to deal with on a day-to-d...  12-14-2013
14 -0.7579  If you are on the move over the next few days ...  12-15-2013
15 -0.8464  Family and financial problems can easily be re...  12-16-2013
16 -0.9081  There are times when it is right to back down ...  12-17-2013
17  0.8163  You will get exactly what you deserve today: n...  12-18-2013
18  0.5927  You may have lots of big ideas in your mind bu...  12-19-2013
19  0.8442  A clash of opposing viewpoints is likely on th...  12-20-2013
20  0.7783  The Sun crosses the midheaven angle of your ch...  12-21-2013
21  0.9666  Go out of your way to be pleasant to everyone ...  12-22-2013
22  0.9307  If you are happy with the way your career is g...  12-23-2013
23  0.6310  Something you have been working on for a long ...  12-24-2013
24 -0.5423  Don’t bother trying to hide your feelings toda...  12-25-2013
25  0.3291  You are on the threshold of a spectacular brea...  12-26-2013
26  0.0772  Flattery will get you everywhere today, especi...  12-27-2013
27  0.7684  Patch up any partnership disputes you may be h...  12-28-2013
28  0.4404  A new moon in the career area of your chart me...  12-29-2013
29 -0.2732  No matter how many times you may have fallen s...  12-30-2013
30 -0.7684  Authority figures may be difficult to get alon...  12-31-2013
31  0.8988  If you need to ask a favor of someone in a pos...  01-01-2014
32  0.7351  No matter how outrageous your ideas may seem t...  01-03-2014
33  0.3400  If your reputation is important to you, then b...  01-04-2014
34  0.8207  What you gain over the coming week will more t...  01-06-2014
35  0.7850  Try to avoid confrontation today because almos...  01-07-2014
36 -0.6310  This is one of those days when you would rathe...  01-08-2014
37  0.8428  You will gain more by doing less today. Either...  01-09-2014
38  0.2023  There are so many ambitions you want to pursue...  01-10-2014
39  0.1779  Tell people the truth as you see it, even if i...  01-12-2014
40  0.4576  No matter how many times you have fallen short...  01-13-2014
41  0.0000  Take time out of your busy schedule to sit dow...  01-14-2014
42  0.0516  The full moon’s influence will pull your emoti...  01-15-2014
43  0.4218  Be honest with friends and colleagues today, e...  01-16-2014
44  0.4939  Your mind will be moving fast today and over t...  01-17-2014
45  0.7906  A few days from now you could find yourself mo...  01-18-2014
46  0.8990  Don’t rush into anything over the next few day...  01-19-2014
47  0.8591  Whatever you happen to be working on now you w...  01-20-2014
48  0.8805  Even if you prefer to walk alone it will pay y...  01-21-2014
49  0.4579  You may not agree with what you hear today but...  01-22-2014

     SIGN
ID
0   aries
1   aries
2   aries
3   aries
4   aries
5   aries
6   aries
7   aries
8   aries
9   aries
10  aries
11  aries
12  aries
13  aries
14  aries
15  aries
16  aries
17  aries
18  aries
19  aries
20  aries
21  aries
22  aries
23  aries
24  aries
25  aries
26  aries
27  aries
28  aries
29  aries
30  aries
31  aries
32  aries
33  aries
34  aries
35  aries
36  aries
37  aries
38  aries
39  aries
40  aries
41  aries
42  aries
43  aries
44  aries
45  aries
46  aries
47  aries
48  aries
49  aries

In [33]:
print(vaders['vaders'][47], " : ", vaders['COMMENT'][47])
print(vaders['vaders'][48], " : ", vaders['COMMENT'][48])
print(vaders['vaders'][49], " : ", vaders['COMMENT'][49])

0.8591  :  Whatever you happen to be working on now you will get it done quicker and better if you get other people involved. But they must be involved as equals. It may be your vision, your baby, but don’t let your ego get in the way of success.
0.8805  :  Even if you prefer to walk alone it will pay you to get more involved in group activities over the next few days. Friends and social contacts will bring you luck and make life more enjoyable, so get out there and have some fun.
0.4579  :  You may not agree with what you hear today but you must let others have their say. Free speech is worth fighting for, so if someone tries to shout down a dissenting opinion make it your business to defend their right to be different.

In [34]:
roberta = pd.DataFrame(res_roberta).T
roberta.index.name = 'ID'
roberta = pd.merge(roberta, df, how ='inner', on= ['ID'], validate='one_to_one')
#roberta = roberta.drop(columns=['COMMENT'])

print(roberta['roberta'][47], " : ", roberta['COMMENT'][47])
print(roberta['roberta'][48], " : ", roberta['COMMENT'][48])
print(roberta['roberta'][49], " : ", roberta['COMMENT'][49])

0.7539331475272775  :  Whatever you happen to be working on now you will get it done quicker and better if you get other people involved. But they must be involved as equals. It may be your vision, your baby, but don’t let your ego get in the way of success.
0.9516182392835617  :  Even if you prefer to walk alone it will pay you to get more involved in group activities over the next few days. Friends and social contacts will bring you luck and make life more enjoyable, so get out there and have some fun.
-0.08593526482582092  :  You may not agree with what you hear today but you must let others have their say. Free speech is worth fighting for, so if someone tries to shout down a dissenting opinion make it your business to defend their right to be different.

In [14]:
merged = pd.merge(roberta, vaders, how ='inner', on= ['DATE', 'SIGN'], validate='one_to_one')
merged.head(3)

   roberta_com        DATE   SIGN  vaders
0    -0.224260  12-01-2013  aries  0.7102
1    -0.250313  12-02-2013  aries  0.3400
2     0.716438  12-03-2013  aries  0.4939